*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	font-weight: 300;
}

section { padding: 80px 0; }

.row {
	width: 1140px;
	margin: 0 auto;
}

.logo {
	height: 100px;
	width: auto;
	border-radius: 50px;
	float: left;
}

.intro {
	background-color: #ffe3dd;
	text-align: center;
}

h1 {
	margin-bottom: 5px;
	word-spacing: 4px;
	font-size: 150%;
	font-family: "Sofia";
}

p {	
	margin-bottom: -20px;
	line-height: 140%;
	font-size: 90%;
}

li {
	color: tomato;
	font-family: 'Lobster', cursive;
}

.btn, 
input[type=submit] {
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: background-color 0.5s;
	text-transform: uppercase;
	margin: 50px 0 50px 0;
	text-decoration: none;
}

.hire-btn:link,
.hire-btn:visited {
	color: #fff;
	background-color: #00B2FF;	
}

.hire-btn:hover,
.hire-btn:active {
	color: #000;
	background-color: #ffded7;
	text-decoration: underline;
}

.contact ul {
	color: red;
	text-align: center;
	font-size: 150%;
	background-color: #ffe3dd;
}

.works {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(works.gif);
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}